/* For smaller screens */
.mobile-nav {
    display: none; /* Initially hide the mobile navbar */
}
.menu-btn i {
    font-size: 2.4em !important;
    font-weight: 500;
   
}

.mobile-menu {
    list-style: none;
    padding: 60px 40px;
    margin: 0;
}

.mobile-menu li a {
    font-size: 1.8em;
    margin-left: 20px;
    font-weight: 500;
}

.mobile-menu-item {
    display: block;
    padding: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.mobile-dropdown {
    position: relative;
}

.mobile-submenu {
    display: none;
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 0;
    background-color: #fff;
    border: 1px solid #eee;
    width: 80vw; /* Cover the entire viewport width */
    border-radius: 4px;
    z-index: 999;
}

.mobile-submenu .mobile-menu-item {
    padding: 10px 20px;
}

.mobile-nav-open {
    display: block; /* Show the mobile navbar when open */
    position: fixed; /* Fix the navigation menu position */
    top: 0;
    left: 0;
    width: 100vw; /* Cover the entire viewport width */
    height: 100%; /* Cover the entire viewport height */
    background-color: #fff; /* Semi-transparent background overlay */
    z-index: 9999; /* Ensure the navigation menu is above other content */
}

.mobile-dropdown.open .mobile-submenu {
    display: block;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 3em;
    color: var(--secondary-color); /* Adjust color as needed */
    z-index: 1000; /* Ensure the icon is above other content */
}

.mobile-nav-header {
    position: relative;
}



@media only screen and (max-width: 1024px) {
    .menu-btn {
        display: block;
    }
    .more_btn {
        display: block;
    }
    .artist {
        padding: 20px;
    }
    .main_artist_card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Adjust as needed */
    }

    .artist_card {
        width: calc(50% - 10px); /* Adjust margin as needed */
        margin-bottom: 20px; /* Adjust as needed */
    }
    #intro {
       display: flex;
       flex-direction: column;
       min-height: 0;
    }

    .featured-artist {
        
        min-height: auto; /* Allow height to adjust dynamically */
        min-width: auto; /* Allow width to adjust dynamically */
        padding: 20px; /* Adjust padding as needed */
    }
    .images-leaning {
    
       display: none;
    
    }
    .promo .main_container {
        flex-direction: column;
        padding: 40px 80px;
    }   
    .promo .main_container {
        flex-direction: column;
        padding: 40px;
    }
    .promo .main_container .img_container {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-top: 20px;
    }

    .Subscribe {
       
        padding: 10px 0;
    }

    .pricingTable>.pricingTable-title {
        text-align: center;
        color: #6e768d;
        font-size: 1.9em !important;
        margin-bottom: 10px !important;
        letter-spacing: 0.04em;
    }
    .pricingTable-firstTable {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Adjust as needed */
        padding-left: 5em;
    
    }
    .pricingTable-firstTable_table {
      margin-bottom: 20px;
        width: 100%;
        background-color: #ffffff;
        display: inline-block;
        padding: 0px 10px 10px;
        text-align: center;
        max-width: 320px;
        transition: all 0.3s ease;
        border-radius: 5px;
    }

    .pricingTable-firstTable_table:nth-of-type(2) {
        width: 500px !important;
    }
    .footer_container {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0px 20px;
        justify-content: space-between;
    }
    body > footer > div > div.newsletter,
    body > footer > div > div.follow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .feedback_form {
        display: flex;
        position: relative;
        margin-top: 20px;
    }
    .beer {
        width: 203px !important;
    }
    .carousel-wrap {
        width: 322px !important;
    }
    .feedback_form {
        display: flex;
        position: relative;
        margin-top: -43px;
    }.feedback_form {
        margin-top: -43px;
    }
    body > footer > div > div.follow {
        flex-direction: row;
        gap: 10px;
    }
    .hero_text h1 {
        margin-bottom: 20px;
    }
}
    @media only screen and (max-width: 667px) {

    #hero {
        height: 80vh;
    }
    .hero_text {
        margin-top: -80px;
    }
    .artist {
        padding: 0px;
    }
    
    .main_artist_card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center the cards */
    }
    
    .artist_card {
        width: calc(100% - 20px); /* Set width to 100% minus padding */
        margin-bottom: 20px; /* Adjust as needed */
    }
    .artist .container {
        display: flex;
        flex-direction: column;
    }
    .artist .container .header {
     display: flex;
     flex-direction: column;
     gap: 10px;
     text-align: center;
    }
    .artist .container .header a {
        display: none;
    }
    .artist .container .more_btn {
        display: block;
        text-align: center;

    }
    .artist .more_btn {
        background: var(--secondary-color);
        color: #fff;
        padding: 10px 20px;
        margin: 0 40px 20px;

    }
    .info h1 {
        font-size: 1.2rem !important;
        font-weight: 600;

    }
    .beer {
        width: 160px !important;
    }
    .images-basic {
        width: 347px;
        padding: 5em 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        cursor: pointer;
    }
    .info p {
         font-size: 0.9rem; 
    }
    .pricingTable-firstTable {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 2em;
    }
    .pricingTable>.pricingTable-title {
        text-align: center;
        color: #6e768d;
        font-size: 1.4em !important;
      
    }
    .pricingTable>.pricingTable-subtitle {
        text-align: center;
        color: #b4bdc6;
        font-size: 1em;
        letter-spacing: 0.04em;
        margin-bottom: 60px;
    }
    .form-popup {
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        bottom: 20px;
        right: 15%;
        width: 280px;
        border: 1px solid #f1f1f1;
        z-index: 3000;
        background-color: white;
    }
    .carousel-wrap {
        width: 60px !important;
    }
    .promo .main_container {
        padding: 20px 40px;
    }
    .title_card {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        position: relative;
        margin-top: 5px;
         margin-bottom: 0px; 
    }
    .title_card h1 {
        font-size: 1.5em;
        margin-left: 10px;
    }
    .info_card p {
        margin: 0;
        font-size: 1.2em;
        
    }
    .title_card p {
        font-size: 1em;
        
      
    }
    .title_card button {
         font-size: 1.6em; 
      
    }
    .site__title {
        font-size: 26px;
        font-weight: 500;
        color: var(--primary-color);
       
    }
    .sect {
         padding: 20px 0 0 0; 
        position: relative;
    }
    .career_title {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin-left: 20px;
    }
    .career_sub {
        font-size: 14px;
        color: #c7cbff;
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 400;
        margin-left: 20px;
    }
    .btn--white {
        margin-left: 20px;
    }
}
