@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;


}

:root {
  --primary-color: #010b13;
  --card_bg-color: #fff;
  --secondary-color: #ff5722;
  --tertiary-color: #f9faff;
  --text-color: #fff;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

body {}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: lightblue;
}

.logo {
  margin-top: 8px;
  margin-right: 8px;
}

.logo img {
  width: 100%;
  height: 70px;

}

.mobile_nav {
  display: none;
}

/* animation menu hamburger */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 1023px) {
  .menu-btn {
    display: flex;
  }
}

.menu-btn .menu-btn__lines,
.menu-btn .menu-btn__lines::before,
.menu-btn .menu-btn__lines::after {
  width: 1.3rem;
  height: 0.1rem;
  border-radius: 4px;
  background: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.menu-btn .menu-btn__lines::before,
.menu-btn .menu-btn__lines::after {
  content: "";
  position: absolute;
}

.menu-btn .menu-btn__lines::before {
  transform: translateY(-0.5rem);
}

.menu-btn .menu-btn__lines::after {
  transform: translateY(0.5rem);
}

.menu-btn.open .menu-btn__lines {
  transform: translateX(1rem);
  background: transparent;
}

.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-0.5rem, 0.5rem);
  background: #ffffff;
}

.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-0.5rem, -0.5rem);
  background: var(--primary-color);
}

.expand-btn:after {
  position: absolute;
  top: 50%;
  right: 0;
  content: " ▾";
  opacity: 0.75;
  transform: translateY(-50%) rotate(0);
  transition: 0.25s;
}

.expand-btn.open {
  color: #ff5722;
}

.expand-btn.open:after {
  transform: translateY(-50%) rotate(180deg);
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 60px;
  background: var(--card_bg-color);
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
}

@media (max-width: 1023px) {
  .navbar {
    padding: 10px 20px;
  }
}

.navbar.sticky {
  position: sticky;
  z-index: 3200;
  top: 0;
}

.navbar .menu-items {
  display: flex;
  align-items: center;
}

@media (max-width: 1023px) {
  .navbar .menu-items {
    scrollbar-gutter: stable;
    position: fixed;
    top: 65px;
    left: 0;
    display: block;
    width: 350px;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-right: 10px;
    background: #171b27;
    overflow-y: auto;
    transform: translateX(-100vh);
    transition: 0.3s ease-out;
  }

  .navbar .menu-items.open {
    transform: translateY(0);
  }
}

.navbar .menu-items>li>.menu-item {
  padding: 1.5rem 1rem;
}

@media (max-width: 1023px) {
  .navbar .menu-items>li>.menu-item {
    padding: 1rem 1rem;
  }
}

.navbar .menu-items li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1023px) {
  .navbar .menu-items li a {
    padding: 10px 1rem;
  }
}

.navbar .dropdown {
  position: relative;
}

@media (min-width: 1024px) {
  .navbar .dropdown:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
  }

  .navbar .dropdown:hover>.expand-btn:after {
    transform: translateY(-50%) rotate(180deg);
  }
}

@media (min-width: 1024px) {

  .navbar .dropdown .dropdown-right .expand-btn:after,
  .navbar .dropdown .dropdown-left .expand-btn:after {
    right: 0.625rem;
  }
}

@media (min-width: 1024px) {
  .navbar .dropdown-menu {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    width: 190px;
    padding: 5px 0;
    background: var(--card_bg-color);
    border-radius: 0 0 5px 5px;
    opacity: 0;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
    visibility: hidden;
    transition: all 0.4s ease;
  }
}

@media (max-width: 1023px) {
  .navbar .dropdown-menu {
    display: none;
    position: relative;
    top: 0;
    width: 100%;
    padding-left: 1rem;
    overflow: hidden;
  }
}

.navbar .menu-right {
  top: 0;
  left: 100%;
}

@media (max-width: 1023px) {
  .navbar .menu-right {
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    padding-left: 1.5rem;
  }

  .navbar .menu-right:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 20px;
    width: 1px;
    height: calc(100% - 25px);
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateY(-50%);
  }
}

.navbar .menu-left {
  top: 0;
  left: -100%;
}

@media (max-width: 1023px) {
  .navbar .menu-left {
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 1.5rem;
  }

  .navbar .menu-left:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 20px;
    width: 1px;
    height: calc(100% - 25px);
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateY(-50%);
  }
}

.navbar .menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 14px;
  transition: 0.25s;
}

.navbar .menu-item:hover {
  color: #ff5722;
}

.navbar ul li {
  list-style: none;
  transition: 0.3s ease;
}

.navbar ul li .arrow {
  transition: all 0.3s ease-out;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}





.navbar .mega-menu .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background: var(--card_bg-color);
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
}

.navbar .category .content .col .img-wrapper {
  margin: 1rem 0;
}

.navbar .blog .content {
  grid-template-columns: repeat(1, 1fr);
}


.navbar .blog .content .col .img-wrapper {
  margin-bottom: 1rem;
}

.navbar .blog .content .col .menu-title {
  font-weight: normal;
}

.navbar .blog .content .col .menu-title a {
  transition: 0.25s;
}

.navbar .blog .content .col .menu-title a:hover {
  color: #ff5722;
}

.navbar .content .col {
  display: flex;
  flex-direction: column;
}

.navbar .content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}

.navbar .content .col .img-wrapper:hover img {
  transform: scale(1.1);
}

.navbar .content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.navbar .content .col img {
  width: 100%;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.navbar .content .col .menu-title {
  color: var(--primary-color);
  font-size: 1.2rem;
  line-height: 1.125rem;
  border-left: 2px solid #ff5722;
  padding-left: 0.625rem;
}



.navbar .content .col p {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  font-size: 0.813rem;
  line-height: 1.6rem;
  color: var(--primary-color);
}

.navbar .content .col .mega-links {
  padding-left: 1rem;
  border-left: 1px solid #3c3c3c;
}

.navbar .content .col .mega-links li {
  margin: 1rem 0;
}

.navbar .content .col .mega-links li a {
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  position: relative;
  margin-top: 30px;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 35px;
  border-radius: 40px;
  border: 1px solid #eee;
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}

.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 6px;
  left: 45px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search-button {
  position: absolute;
  top: 6px;
  left: 15px;
  height: 15px;
  width: 15px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 6px;
  right: 15px;
}

.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}

.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}

.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all 0.2s ease-in-out;
}

.search-option div span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}

.search-option div:hover span {
  opacity: 1;
  top: -21px;
}

.search-option div label {
  display: block;
  cursor: pointer;
}

.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.search-option div:hover svg {
  opacity: 1;
}

.search-option div input:checked+label svg {
  fill: var(--secondary-color);
  opacity: 0.9;
}

.search-option div input:checked+label span {
  background: var(--secondary-color);
}

.search-option div input:checked+label span::after {
  border-top-color: var(--secondary-color);
}

@media (max-width: 1023px) {
  .overflow {
    overflow: hidden;
  }
}

@media (max-width: 1023px) {
  .overlay {
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .overlay.overlay--active {
    opacity: 1;
    visibility: visible;
  }
}





#hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px 0px;
  height: 90vh;
  position: relative;
  /* Ensure the container is positioned */
  /* Add transition */
  transition: background 0.8s ease-in-out;
}

#hero::before {
  content: "";
  /* Add content for pseudo-element */
  position: absolute;
  /* Position the pseudo-element */
  top: 0;
  /* Position from the top */
  left: 0;
  /* Position from the left */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* Add the overlay gradient */
  z-index: 1;
  /* Ensure the overlay is above the background */
}

#hero>.container {
  position: relative;
  /* Ensure content remains above overlay */
  z-index: 2;
  /* Ensure content remains above overlay */
}

.hero_text {
  margin-bottom: 30px;
  padding-left: 60px;
}

.hero_text h1 {
  font-size: 38px;
}

.hero_text p {
  font-size: 18px;
}



.hero_text {
  color: #fff;

  width: 100%;
  margin-top: 60px;


}

#hero h1,
#hero_events h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;

}

#hero p,
#hero_events p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;


}



.btn {
  background: #fff;
  color: #003049;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button {

  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #eee;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 30px auto;
  font-weight: 500;
  transition: .3s ease;

}

button i {
  margin-left: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

button:hover {
  background: #fff;
  color: var(--primary-color);
}

.hero_btn2 {
  padding: 10px 20px;
  width: 20%;

}





/* Hero section ends */

.clear {
  clear: both;
}

img {
  max-width: 100%;
  border: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #e73700;
}

h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  color: var(--primary-color);
}

h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}

/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}

.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.line-title::after {
  width: 32px;
  background: var(--secondary-color);
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
  overflow: hidden;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}

.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}

.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -110px;
  position: relative;
  z-index: 5;
}

/* Apply styles to all buttons inside the carousel */
/* Apply styles to all buttons inside the carousel */
.custom-carousel button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  padding: 4px;
  width: 40px;
  height: 40px;
  margin-right: 5px;

  border-radius: 50%;
  /* Make the border-radius 50% to make the button round */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Apply hover effect */
.custom-carousel button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.custom-carousel .owl-dot {
  background-color: #eee;
  border: 2px solid #eee;
  /* Add a border to differentiate from background color */
  border-radius: 50%;
  /* Make the border-radius 50% to make the button round */
  width: 12px;
  /* Adjust width and height as needed */
  height: 12px;
  margin: 0 5px;
  /* Adjust margin as needed */
  margin-top: -110px;
  cursor: pointer;
}

/* Apply styles to active pagination button */
.custom-carousel .owl-dot.active {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  /* Change background color of active button */
}


/* rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* pulse */
@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* scale */
@keyframes scale {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.2);
  }
}

@-moz-keyframes scale {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.2);
  }
}

@-ms-keyframes scale {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes scale {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.2);
  }
}

/* globals */

.wrapper {
  position: relative;
  margin: 40px auto 0 auto;
  height: 480px;
  width: 320px;
}

.circle {
  /* Draw circles */
  border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.animated {
  /* Smoother animations */
  transform: translateZ(0);
}

/* tower */
.tower {
  position: absolute;
  top: 12.5%;
  width: 100%;
  margin: -20px 0 0 0;
}

.tower .signal {
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0 0 0 -15px;
}

.tower .signal .rings {
  width: 30px;
  height: 30px;
  border: 6px double #F2F0F0;
  animation: scale 1s infinite linear;
}

.tower .dot {
  margin: 10px auto 0 auto;
  width: 10px;
  height: 10px;
  background-color: #F2F0F0;
}

.tower .triangle {
  margin: -5px auto 0 auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid #F2F0F0;
}

/* player */
.player {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -120px;
  height: 240px;
  width: 240px;
  background-color: #F2F0F0;
  cursor: pointer;
}

.player .triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -15px 0 0 -10px;
  border-top: 20px solid transparent;
  border-left: 30px solid var(--secondary-color);
  border-bottom: 20px solid transparent;
}

.player:hover .triangle {
  border-top: 20px solid transparent;
  border-left: 30px solid var(--secondary-color);
  border-bottom: 20px solid transparent;
}

.player .buffering {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 230px;
  height: 230px;
  border-right: 2px solid #D3D1D1;
  border-bottom: 2px solid #D3D1D1;
  border-left: 2px solid #F2F0F0;
  border-top: 2px solid #F2F0F0;
  animation: rotate 3s infinite linear;
}

/* text */
.text {
  position: absolute;
  top: 85%;
  text-align: center;
  text-transform: uppercase;
  color: #C1B8B8;

  font-size: 14px;
  width: 100%;
  animation: pulse 1.3s infinite;
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }

  .game-section .item.active {
    width: 400px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }

  .game-section .item.active {
    width: 360px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }

  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }

  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }

  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

.images-leaning {
  box-sizing: border-box;
  width: 100%;
  min-width: 800px;
  margin: 10em auto 0;
  min-height: 330px;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(352deg, transparent 45.2%, #bbb 45.5%, #bbb 45.6%, #ccc 45.8%, #eee 60%), linear-gradient(30deg, #ccc, #eee 90%);
  background-size: 100% 32.4em;
  background-position: 50% 100%;
}

.images-leaning>div {
  width: 250px;
  position: absolute;
  left: 50%;
  bottom: 7.8em;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
}

.images-leaning>div:before {
  content: '';
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 7%;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, transparent 42%, rgba(0, 0, 0, 0.15) 45%, rgba(0, 0, 0, 0.35) 65%), linear-gradient(20deg, transparent 38%, rgba(0, 0, 0, 0.25) 45%, rgba(0, 0, 0, 0.23) 55%, rgba(0, 0, 0, 0.13) 75%), radial-gradient(ellipse at 50% 100%, rgba(0, 0, 0, 0.15) 3%, transparent 40%);
  transform: rotate(-8deg);
}

.images-leaning>div:after {
  content: '';
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3), transparent 70%), linear-gradient(45deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.3) 80%);
  transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}

.images-leaning>div>img {
  width: 60%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2;
  border-left: 0.2em solid;
  -o-border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
  border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
  box-shadow: 0.1em 0.2em 0 -0.1em #666;
  filter: saturate(90%);
  transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}

.images-leaning>div:nth-of-type(4) {
  --resize: 0.99;
  margin-left: -40.4em;
}

.images-leaning>div:nth-of-type(4):before {
  background-size: 100% 85%, 100% 15%, 100% 10%;
  background-position: 0.1em 0, 0 100%, -3em 83%;
}

.images-leaning>div:nth-of-type(3) {
  --resize: 0.96;
  margin-left: -15.3em;
  transform: scaleY(0.98) translate(-8em, -2.1em);
}

.images-leaning>div:nth-of-type(3):before {
  background-size: 100% 84%, 100% 16%, 100% 10%;
  background-position: 0.4em 0, 0 100%, -3em 81%;
}

.images-leaning>div:nth-of-type(2) {
  --resize: 0.925;
  margin-left: 10em;
  transform: scaleY(0.965) translate(-17em, -4.2em);
}

.images-leaning>div:nth-of-type(2):before {
  background-size: 100% 83%, 100% 17%, 100% 10%;
  background-position: 0.6em 0, 0.1em 100%, -3em 81%;
}

.images-leaning>div:nth-of-type(1) {
  --resize: 0.895;
  margin-left: 35.2em;
  transform: scaleY(0.94) translate(-26.6em, -6.2em);
}

.images-leaning>div:nth-of-type(1):before {
  background-size: 100% 82%, 100% 18%, 100% 10%;
  background-position: 0.8em 0, 0.1em 100%, -3em 80%;
}

.featured-artist {
  min-height: 20vh;
  min-width: 800px;
}

.featured-artist {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee;
  font-size: 10px;
}

.images-basic {
  width: 600px;
  padding: 5em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  cursor: pointer;
}
.images-leaning {
    
  display: none;

}

.images-basic>div {
  width: 130px;
}

.images-basic img {
  width: 100%;
  display: block;
}

.section_title {
  text-align: center;
  margin: 20px 0px;
  color: var(--primary-color);
  font-size: 3em;
}

.input_btn {
  background: #c1121f;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

.grid {
  display: grid;
  width: 100%;
  /* Adjust width as needed */
  grid-gap: 2rem;
  /* Reduced grid gap */
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* Adjusted min and max width */
}

@media (max-width: 60em) {
  .grid {
    grid-gap: 2rem;
    /* Adjusted grid gap for smaller screens */
  }
}

.grid .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  /* Reduced box shadow */
  cursor: pointer;
  transition: 0.2s;
}

.grid .card:hover {
  transform: translateY(-0.3%);
  /* Reduced hover effect */
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  /* Adjusted hover box shadow */
}

.grid .card__img {
  display: block;
  width: 100%;
  height: 10rem;
  /* Reduced card image height */
  object-fit: cover;
}

.grid .card__content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 1.5rem;
  /* Reduced grid row gap */
  padding: 1.5rem;
  /* Reduced padding */
  height: 100%;
}

.grid .card__header {
  font-size: 1.4rem;
  /* Reduced header font size */
  font-weight: 600;
  color: #003049;
}

.grid .card__text {
  font-size: 1rem;
  /* Reduced text font size */
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: #3d3d3d;
  margin-bottom: 1.5rem;
  /* Reduced margin bottom */
}

.grid .card__btn {
  display: block;
  width: 100%;
  padding: 0.8rem;
  /* Reduced padding */
  font-size: 1.2rem;
  /* Reduced button font size */
  text-align: center;
  color: #c1121f;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}

.grid .card__btn span {
  margin-left: 0.8rem;
  /* Adjusted margin left */
  transition: 0.2s;
}

.grid .card__btn:hover,
.grid .card__btn:active {
  background-color: #dce4ff;
}

.grid .card__btn:hover span,
.grid .card__btn:active span {
  margin-left: 1rem;
  /* Adjusted margin left */
}

.grid .dates {
  font-size: 14px;
  font-weight: 500;
  color: #b1b1b1;
}

.artist {
  padding: 20px 80px;
  background-color: #fbfbfd;
}

.main_artist_card {
  display: flex;
  gap: 20px;
  margin: 20px 0;

}

.artist .container .header {
  display: flex;
  justify-content: space-between;
}

.artist .container .header h1 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--primary-color);
}

.artist .container .header a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1em;
}

.artist .container .header a:hover {
  text-decoration: underline;
}

.artist_card {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 12px 12px 0 12px;
  cursor: pointer;

}

.artist_card:hover {
  background-color: #fff;
  border: 1px solid #eee;
  transform: scale(1.03);
}

.artist_card .img_container {
  width: 100%;
  height: 100%;

}

.artist_card .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.title_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;

}

.title_card button {
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.2em;
  position: absolute;
  right: -60px;

}

.info_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.info_card p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 500;
  color: var(--secondary-color);
}

.info_card .plays {
  color: var(--primary-color);
}

.title_card div span {
  color: var(--primary-color);
  font-size: 0.8em;
  font-weight: 500;
  background-color: #ddd;
  padding: 3px;
  border-radius: 4px;
}

.title_card h1 {
  font-size: 1em;
  font-weight: 500;
  color: var(--primary-color);
  margin-right: 70px;
}

.title_card p {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--secondary-color);
}

#blog_teams {}

.events_header,
.about_header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #c1121f;
}

.about_header {
  text-align: left;
  margin-bottom: 0px;
}

.about_p {
  font-size: 14px;
  font-weight: 500;
  color: #003049;
  text-align: left;
  margin-bottom: 40px;
}

.contact_container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map {
  width: 60%;
  margin-top: 60px;
}

.contacts {
  display: flex;
  margin-right: 80px;
  flex-direction: column;
  width: 40%;
}

.span {
  margin-right: 10px;
  color: #c1121f;
}

.form_contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  border: 1px solid #eee;
  padding: 12px 18px;
}

.form_contact form input,
.form_contact form textarea {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #eee;
  outline: none;
}






/* Blog */
#blog {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

#blog .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#blog .container .first_blog {
  width: 40%;

}

#blog .container .first_blog .img {
  width: 100%;
  overflow: hidden;
  height: 100%;

}

#blog .container .first_blog .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: .3s ease;
  cursor: pointer;
}

#blog .container .first_blog .img img:hover {
  transform: scale(1.3);
}

#blog .container .first_blog .card {
  background: #c1121f;
  color: #fff;


  border-radius: 10px;
}

#blog .container .first_blog .card .card-details {
  padding: 30px;
}

#blog .container .first_blog .card .card-details .blog_heading a {
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

#blog .container .first_blog .card .card-details p {
  font-size: 0.7em;
  font-weight: 400;
  opacity: 0.9;
}

#blog .container .first_blog .card .read_more {
  font-size: 0.7em;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

#blog .container .first_blog .card .read_more {
  font-size: 0.7em;
  font-weight: 400;
  color: #fff;
  transition: .3s ease;
}

#blog .container .first_blog .card .read_more:hover {
  color: #c5cadf;
}

#blog .container .second_blog {
  width: 50%;
  padding-left: 40px;
}

#blog .container .second_blog .card {
  background: #fff;
  color: #003049;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .01);
  border: 1px solid #eee;
  cursor: pointer;
}

#blog .container .second_blog .card .card-details {
  padding: 10px;
}

#blog .container .second_blog .card .card-details .blog_heading a {
  font-size: 0.9em;
  font-weight: 600;
  color: #003049;
  text-decoration: none;
  transition: .3s ease;

}

#blog .container .second_blog .card:hover .card-details .blog_heading a {
  color: #c1121f;
}

#blog .container .second_blog .card .card-details p {
  font-size: 0.7em;
  font-weight: 400;
  opacity: 0.9;

}

#blog .container .second_blog .card .read_more {
  font-size: 0.7em;
  font-weight: 400;
  color: #003049;
  text-decoration: none;
  transition: .3s ease;
}

#blog .container .second_blog .card .read_more:hover {
  color: #c1121f;
}

#blog .welcome {
  padding-bottom: 20px;
}

#blog .blog_main_heading {
  color: #003049;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  padding: 20px;
  margin-bottom: 10px;
}

#blog .welcome .blog-btn {
  text-decoration: none;
  color: #003049;


}

#blog .welcome .blog-btn:hover {
  color: #c1121f;
}

#blog .welcome .blog-btn span {
  margin-left: 10px;
  color: #c1121f;
  font-size: 1.3em;
}

.section_featured {
  margin-top: 75px;
  background: #fff;
}

.info_about {
  background: #f9faff;
}

/* ------ */
/* INTRO */

#intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 40px;
  min-height: 100dvh;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 50px;
}

.info h1 {

  text-align: center;
  font-size: 1.3em;
  font-weight: 800;
  margin-bottom: 0px;
  color: var(--secondary-color);
}

.info p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.split-beer {
  display: flex;
  flex-direction: row;
}

.beer {
  max-width: 100%;
  width: 250px;
  border-radius: 20px;
  margin-left: 15px;
  border: 2px solid var(--secondary-color);
}

.beer:nth-child(2) {
  transform: translateY(-1.5rem);
}

.button:after,
.close-btn:after {
  background: #fff;
}

.btnlinks {
  font-weight: 600;
  color: var(--primary-color);
}

.button {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
}

.button:hover::after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  transition: all 0.5s;
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  left: 2.5px;
  top: 2px;
  bottom: 2.5px;
  right: 2px;
  z-index: -1;
  border-radius: 8px;
  transition: all 0.5s;
}

/* -------- */
/* CONTENT */

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 60px 40px;
  min-height: 100dvh;
  overflow: hidden;
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  border: 1px solid #000;
  width: 300px;
  aspect-ratio: 1/1;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03),
    0 22.3px 17.9px rgba(0, 0, 0, 0.05);
}

a:link,
a:visited,
a:hover,
a:active {
  background-color: transparent;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.open-icon {
  font-size: 1.25rem;
  color: #000;
  transform: translateY(3px);
  margin-left: 3px;
  z-index: 1;
}

.modal-open {
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  grid-area: 1 / 2 / span 1 / span 1;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 2;
  transition: all 450ms ease-in 200ms;
}

.card:hover>.card-img {
  width: 50%;
  height: 50%;
  top: 50%;
  border-radius: 0 0 0 20px;
}

.main_title {
  font-size: 1.3em;
  color: var(--secondary-color);
  font-weight: 600;
  text-align: center;
  margin: 20px;
}

/* ------ */
/* MODAL */

body.prevent-background-scroll {
  min-height: 100dvh;
  overflow-y: hidden;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  animation: openModal 0.3s ease-in-out 1 normal;
}

@keyframes openModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50%;
  border-radius: 4px;
  z-index: 30;
}

.modal-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 15px 20px 10px;
  font-size: 1.2rem;
}

.modal-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d1d5db;
}

.modal-header .modal-close {
  background: #efefef;
  border: 0;
  outline: 0;
  transform: translateY(3px);
  background-color: transparent;
  cursor: pointer;
}

.close-icon {
  font-size: 1.6rem;
  color: #000;
  transform: scale(1);
  transition: all 0.3s;
}

.close-icon:hover {
  transform: scale(1.3);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 50px;
  height: 70vh;
  overflow-y: auto;
}

.modal-body>img {
  max-width: 100%;
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 20px;
}

/* ---------- */
/* SCROLLBAR */

.modal-body::-webkit-scrollbar {
  width: 0.7rem;
}

.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem rgb(79, 78, 78);
  background-color: rgba(255, 87, 34, 0.1);
}

.modal-body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem rgba(255, 87, 34, 1);
  outline: none;
}




/*	CURRENT MAX WIDTH IS JUST FOR DEMO PURPOSES */
.tag-scrollers {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

/*	POSSIBLY UPDATE COLORS IN THE GRADIENT
		TO MATCH THE PROJECTS DESIGN SYSTEM
*/
.tag-scroller {
  display: grid;
  gap: 1.5rem;
  mask: linear-gradient(90deg, #0000, var(--primary-color) 15%, var(--primary-color) 85%, #0000);
}

.tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*	IF THE GAP IS CHANGED, DON'T FORGET TO CHANGE 
			THE TRANSFORM VALUE IN THE SCROLL ANIMATION
			AT THE END OF THE STYLING
	*/
  gap: 1.5rem;
}

/*	IF THE USERS PREFERS REDUCED MOTION
		PRESENT THEM WITH A HOROZONTAL LIST
		OF ALL ELEMENTS AND GIVE THEM THE
		OPTION TO MANUALLY SCROLL BY SWIPING
*/
@media (prefers-reduced-motion) {
  .tag-list {
    flex-flow: row nowrap;
    overflow: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  .tag-list::-webkit-scrollbar-track {
    background: transparent;
  }

  .tag-list::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .tag-list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

/*	BASIC STYLING OF THE LIST ITEMS
		FOR DEMO PURPOSES. MOST PROPERTIES
		SHOULD BE KEPT AS IS BUT PROBABLY
		UPDATE THE VALUE FOR font-family
		AND border
*/
.tag-list li {
  color: #a3a3a3;
  font-size: 1.125rem;
  line-height: 1;
  padding: 0.625rem 1.375rem;
  border: 1px solid #e2e2eb;
  border-radius: 10ch;
  white-space: nowrap;
}

/*	THE DURATION IS SET FROM A CUSTOM PROPERTY
		CALCULATED IN THE SCRIPT AS IT'S ONLY NEEDED
		IF THE ANIMATION SHOULD RUN, WHICH IS ALSO
		CHECKED BY THE SCRIPT

		THE DIRECTION IS SET TO normal AS DEFULT
		AND THEN SET TO reverse	FOR EVERY OTHER SCROLLER
*/
.tag-scroller.scrolling .tag-list {
  width: max-content;
  flex-wrap: nowrap;
  animation: horizontal-scroll var(--duration) var(--direction, normal) linear infinite;
}

.tag-scroller.scrolling .tag-list:nth-child(even) {
  --direction: reverse;
}

/* PAUSING THE ANIMATION ON HOVER */
.tag-scroller:hover .tag-list {
  animation-play-state: paused;
}

@keyframes horizontal-scroll {
  to {
    /*	0.75rem FOR HALF THE GAP
				OF THE .tag-scroller
		*/
    transform: translateX(calc(-50% - .75rem));
  }
}

/* ------ */
/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .beer {
    width: 200px;
  }

  #content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  #intro {
    padding: 30px;
  }

  .beer {
    width: 150px;
  }

  .info {
    gap: 20px;
    padding: 30px 30px;
  }

  .info h1 {
    font-size: 2.5rem;
  }

  .info p {
    font-size: 1rem;
  }

  #content {
    gap: 30px;
    padding: 60px 20px;
  }

  .card {
    width: 250px;
  }

  .modal-content {
    width: 80%;
  }


}

@media (max-width: 550px) {
  #intro {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "split-beer"
      "info";
  }

  .info {
    grid-area: info;
  }

  .split-beer {
    grid-area: split-beer;
    margin: 20px auto;
  }

  .beer {
    width: 100px;
  }

  #content {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 40px;
  }

  .container {

    display: flex;

    align-items: center;
    padding: 20px;
  }

}

.promo {}

.get_btn {
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-weight: 500;
  background-color: var(--secondary-color);
}

.getstarted_button {
  display: flex;
}

.getstarted_button a {
  background-color: var(--secondary-color);
  padding: 6px 14px;
  color: #fff;
  border-radius: 4px;
  transition: .3s ease;
}

.getstarted_button a:hover {
  background-color: #e73700;
}

.promo svg {

  max-height: 60vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
}

.promo .main_container {
  display: flex;
  flex-direction: row;
  padding: 40px 80px;
}

.promo .main_container .img_container {
  width: 40%;
  height: 40%;
  border-radius: 10px;
}

.promo .main_container .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: .3s ease;
  cursor: pointer;
}

.promo .main_container .img_container:hover img {
  transform: scale(1.03);
}


.promo .main_container ul {
  width: 90%;

}

.promo .main_container ul li {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

.promo .main_container ul li i {
  color: var(--secondary-color);
  margin-right: 10px;
  font-size: 1.5em;
}

.promo .main_container a {
  background: var(--secondary-color);
  color: #fff;
  padding: 6px 14px;
  border-radius: 4px;
  transition: .3s ease;
  margin-left: 30px;
}

.promo .main_container a:hover {
  background-color: #e73700;

}

.text_main h1 {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--primary-color);
}

.text_main p {
  font-size: 0.9em;
  font-weight: 400;
  color: #5a6674;
}

/* Pricing area */

.Subscribe {
  background-color: #f0f4f7;
  padding: 40px 0;
}

.pricingTable {
  margin: 40px auto;
}

.pricingTable>.pricingTable-title {
  text-align: center;
  color: #6e768d;
  font-size: 2em;
  font-size: 300%;
  margin-bottom: 20px;
  letter-spacing: 0.04em;
}

.pricingTable>.pricingTable-subtitle {
  text-align: center;
  color: #b4bdc6;
  font-size: 1.4em;
  letter-spacing: 0.04em;
  margin-bottom: 60px;
}

@media screen and (max-width: 480px) {
  .pricingTable>.pricingTable-subtitle {
    margin-bottom: 30px;
  }
}

.pricingTable-firstTable {
  list-style: none;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

.pricingTable-firstTable_table {
  vertical-align: middle;
  width: 31%;
  background-color: #ffffff;
  display: inline-block;
  padding: 0px 30px 40px;
  text-align: center;
  max-width: 320px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table>* {
    display: inline-block;
    vertical-align: middle;
  }
}

@media screen and (max-width: 480px) {
  .pricingTable-firstTable_table>* {
    display: block;
    float: none;
  }
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table:after {
    display: table;
    content: "";
    clear: both;
  }
}

.pricingTable-firstTable_table:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table:hover {
    transform: none;
  }
}

.pricingTable-firstTable_table:not(:last-of-type) {
  margin-right: 3.5%;
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table:not(:last-of-type) {
    margin-right: auto;
  }
}

.pricingTable-firstTable_table:nth-of-type(2) {
  position: relative;
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table:nth-of-type(2) h1 {
    padding-top: 8%;
  }
}

.pricingTable-firstTable_table:nth-of-type(2):before {
  content: "Most Popular";
  position: absolute;
  color: white;
  display: block;
  background-color: var(--secondary-color);
  text-align: center;
  right: 15px;
  top: -25px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 0.5em;
  padding-top: 22px;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  transition: all 0.5s ease;
}

@media screen and (max-width: 988px) {
  .pricingTable-firstTable_table:nth-of-type(2):before {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table:nth-of-type(2):before {
    left: 10px;
    width: 45px;
    height: 45px;
    top: -10px;
    padding-top: 13px;
  }
}

@media screen and (max-width: 480px) {
  .pricingTable-firstTable_table:nth-of-type(2):before {
    font-size: 0.8em;
  }
}

.pricingTable-firstTable_table:nth-of-type(2):hover:before {
  transform: rotate(360deg);
}

.pricingTable-firstTable_table__header {
  font-size: 1.6em;
  padding: 40px 0px;
  border-bottom: 1px solid #ebedec;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1068px) {
  .pricingTable-firstTable_table__header {
    font-size: 1.45em;
  }
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table__header {
    padding: 0px;
    border-bottom: none;
    float: left;
    width: 33%;
    padding-top: 3%;
    padding-bottom: 2%;
  }
}

@media screen and (max-width: 610px) {
  .pricingTable-firstTable_table__header {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 480px) {
  .pricingTable-firstTable_table__header {
    float: none;
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 5px;
  }
}

.pricingTable-firstTable_table__pricing {
  font-size: 3em;
  padding: 30px 0px;
  border-bottom: 1px solid #ebedec;
  line-height: 0.7;
}

@media screen and (max-width: 1068px) {
  .pricingTable-firstTable_table__pricing {
    font-size: 2.8em;
  }
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table__pricing {
    border-bottom: none;
    padding: 0;
    float: left;
    clear: left;
    width: 33%;
  }
}

@media screen and (max-width: 610px) {
  .pricingTable-firstTable_table__pricing {
    font-size: 2.4em;
  }
}

@media screen and (max-width: 480px) {
  .pricingTable-firstTable_table__pricing {
    float: none;
    width: 100%;
    font-size: 3em;
    margin-bottom: 10px;
  }
}

.pricingTable-firstTable_table__pricing span:first-of-type {
  font-size: 0.35em;
  vertical-align: top;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1068px) {
  .pricingTable-firstTable_table__pricing span:first-of-type {
    font-size: 0.3em;
  }
}

.pricingTable-firstTable_table__pricing span:last-of-type {
  vertical-align: bottom;
  font-size: 0.3em;
  letter-spacing: 0.04em;
  padding-left: 0.2em;
}

@media screen and (max-width: 1068px) {
  .pricingTable-firstTable_table__pricing span:last-of-type {
    font-size: 0.25em;
  }
}

.pricingTable-firstTable_table__options {
  list-style: none;
  padding: 15px;
  font-size: 0.9em;
  border-bottom: 1px solid #ebedec;
}

@media screen and (max-width: 1068px) {
  .pricingTable-firstTable_table__options {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table__options {
    border-bottom: none;
    padding: 0;
    margin-right: 10%;
  }
}

@media screen and (max-width: 610px) {
  .pricingTable-firstTable_table__options {
    font-size: 0.7em;
    margin-right: 8%;
  }
}

@media screen and (max-width: 480px) {
  .pricingTable-firstTable_table__options {
    font-size: 1.3em;
    margin-right: none;
    margin-bottom: 10px;
  }
}

.pricingTable-firstTable_table__options>li {
  padding: 8px 0px;
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table__options>li {
    text-align: left;
  }
}

@media screen and (max-width: 610px) {
  .pricingTable-firstTable_table__options>li {
    padding: 5px 0;
  }
}

@media screen and (max-width: 480px) {
  .pricingTable-firstTable_table__options>li {
    text-align: center;
  }
}

.pricingTable-firstTable_table__options>li:before {
  content: "✓";
  display: inline-flex;
  margin-right: 15px;
  color: #fff;
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 0.8em;
  padding: 2px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1068px) {
  .pricingTable-firstTable_table__options>li:before {
    width: 14px;
    height: 14px;
    padding: 1.5px;
  }
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table__options>li:before {
    width: 12px;
    height: 12px;
  }
}

.pricingTable-firstTable_table__getstart {
  color: #fff;
  border: 0;
  background-color: var(--secondary-color);
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 20px;
  font-size: 0.9em;
  box-shadow: 0px 3px 0px 0px var(--secondary-color);
  letter-spacing: 0.07em;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1068px) {
  .pricingTable-firstTable_table__getstart {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table__getstart {
    margin-top: 0;
  }
}

@media screen and (max-width: 610px) {
  .pricingTable-firstTable_table__getstart {
    font-size: 0.9em;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .pricingTable-firstTable_table__getstart {
    font-size: 1em;
    width: 50%;
    margin: 10px auto;
  }
}

.pricingTable-firstTable_table__getstart:hover {
  transform: translateY(-10px);
  box-shadow: 0px 40px 29px -19px rgba(102, 172, 100, 0.9);
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table__getstart:hover {
    transform: none;
    box-shadow: none;
  }
}

.pricingTable-firstTable_table__getstart:active {
  box-shadow: inset 0 0 10px 1px #66a564, 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
  transform: scale(0.95) translateY(-9px);
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table__getstart:active {
    transform: scale(0.95) translateY(0);
    box-shadow: none;
  }
}




/* Reviews */
.reviews {
  background-color: #fff;
}

#wrap {
  padding: 30px 0;
}

.review-title {
  margin-bottom: 30px;
}

.review-card {
  border-radius: 4px;
}

.review-card--option-1 {
  border: 1px solid #D8D8D8;
  padding: 25px;
}

.review-card--option-2 {
  padding: 0 15px;
}

.review-card--option-3 {
  padding: 0 200px;
}

.review-card--option-4 {
  padding: 30px;
}

.review-card .review-card-img {

  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto 15px;
}

.review-card .review-card-img img {
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}

.review-card .review-author .ra-author {
  font-size: 16px;
  display: block;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 600;
}

.review-card .review-author .ra-rating-star {
  margin: 0 0 15px;
  padding: 0;
  list-style-type: none;
  color: rgba(255, 87, 34, 1);
}

.review-card .review-author .ra-rating-star li {
  display: inline-block;
  margin: 0 -2px;
}

.review-card--option-4 {
  border: 1px solid #D8D8D8;
}

.carousel-wrap {
  width: 635px;
  height: 323px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-wrap {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .carousel-wrap {
    width: 350px;
    height: 345px;
  }
}

@media (max-width: 480px) {
  .carousel-wrap {
    width: 240px;
    height: 408px;
  }
}

.carousel>li {
  width: 500px;
  height: 325px;
  background: #fff;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel>li {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .carousel>li {
    width: 350px;
    height: 345px;
  }
}

@media (max-width: 480px) {
  .carousel>li {
    width: 240px;
    height: 408px;
  }
}

.items {
  position: absolute;
}

.main-pos {
  margin-left: 2em !important;
  z-index: 3000;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-pos {
    margin-left: -40px !important;
  }
}

@media (max-width: 767px) {
  .main-pos {
    margin-left: -40px !important;
  }
}

.left-pos {
  background: #ccc;
  opacity: 0.5;
  margin-left: -17em !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}

.left-pos .review-card--option-4 {
  background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) and (max-width: 991px) {
  .left-pos {
    margin-left: -220px !important;
  }
}

@media (max-width: 767px) {
  .left-pos {
    margin-left: -113px !important;
  }
}

@media (max-width: 480px) {
  .left-pos {
    margin-left: -145px !important;
  }
}

.back-pos {
  opacity: 0.05;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.right-pos {
  opacity: 0.5;
  margin-left: 21em !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}

.right-pos .review-card--option-4 {
  background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) and (max-width: 991px) {
  .right-pos {
    margin-left: 140px !important;
  }
}

@media (max-width: 767px) {
  .right-pos {
    margin-left: 30px !important;
  }
}

@media (max-width: 480px) {
  .right-pos {
    margin-left: 62px !important;
  }
}

.slider {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.slider a {
  color: #999;
}

.slider i {
  font-size: 45px;
}

.slider #prev,
.slider #next {
  position: absolute;
}

.slider #prev {
  left: -214px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .slider #prev {
    left: -180px;
  }
}

@media (max-width: 767px) {
  .slider #prev {
    left: -70px;
  }
}

.slider #next {
  right: -214px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .slider #next {
    right: -180px;
  }
}

@media (max-width: 767px) {
  .slider #next {
    right: -70px;
  }
}

@media (max-width: 480px) {
  .slider {
    display: none;
  }
}

/* Feedback form */
.feedback_form {
  display: flex;
  position: relative;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 6px 12px;
  width: 200px;
  border: none;
  cursor: pointer;
  bottom: 23px;
  right: 28px;

}

.open-button:hover {
  background-color: #ff825c;
  color: #fff;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  bottom: 20px;
  right: 35%;
  width: 430px;
  border: 1px solid #f1f1f1;
  z-index: 3000;
  background-color: white;


}

.feeback_btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Add styles to the form container */
.form-container {

  padding: 20px;

}

/* Full-width input fields */
.form-container input,
.form-container textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  outline: none;
}

.form-container textarea {
  height: 60px;
}

/* When the inputs get focus, do something */
.form-container input:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 6px 18px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: transparent;
  border: 1px solid #eee;
  color: var(--primary-color);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.new_footer_area {
  background: #fbfbfd;

}





.footer_container {
  display: flex;
  flex-direction: row;
  padding: 40px 40px 0px 40px;
  justify-content: space-between;
}

.footer_container h1 {
  font-size: 1em;
  font-weight: 600;
  color: var(--secondary-color);

}

.footer_container .links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer_container .links a {
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--primary-color);
  transition: .3s ease;
}

.footer_container .links a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.footer_container .newsletter p {
  margin-bottom: 10px;
}

.footer_container .newsletter form input {
  padding: 6px 12px;
  outline: none;
  border: 1px solid #e2e2eb;
}

.newsletter form input[submit] {
  background: var(--secondary-color);
}

.copyright {
  text-align: center;
  margin: 20px 0;
  font-size: 0.8em;
  font-weight: 500;
  color: #5a6674;
}


/*************footer End*****************/





/* Media Querries */
@media (max-width: 1024px) {
  body>header>div.search_container {
    display: none;
  }

  #hero {
    height: 60vh;
  }

  .hero_text {
    text-align: center;
    padding-top: 60px;
    margin-top: 60px auto;
  }

  .hero_text h1 {
    margin-top: 60px;
  }


  #hero>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .featured_info {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .featured_info .info {

    width: 100%;

  }

  #blog .container {
    flex-direction: column;
  }

  #blog .container .first_blog {
    width: 100%;
    margin-bottom: 40px;
  }

  #blog .container .second_blog {
    width: 100%;
    padding-left: 0px;
  }

  #hero h1 {
    font-size: 36px;
  }

  .hero_text {
    padding-left: 0px;
    margin-top: 20px;
  }

  button {

    margin: 20px;

    margin-left: 20px;
  }



  #menu {

    font-size: 26px;

  }

  header h1 {
    font-size: 18px;

  }

  .mobile_nav ul li a {

    font-size: 18px;

  }

  #hero h1,
  #hero_events h1 {

    font-size: 36px;

  }

  .hero_btn2 {
    margin-left: 60px;
    width: 60%;
  }

  #featured_events .container {
    flex-direction: column;
  }
}